<% content_for :page_title do %>
  <%= t('spree.blogs.settings.disqus') %>
<% end %>

<%= form_tag admin_disqus_settings_path, :method => :put  do |form| %>
  <% @preferences.each do |key|
    type = @config.preference_type(key) %>
    <%= label_tag(key, t("spree.blogs.settings.#{key}") + ': ') + tag(:br) if type != :boolean %>
    <%= preference_field_tag(key, @config[key], :type => type) %>
    <%= label_tag(key, t(key)) + tag(:br) if type == :boolean %>
  <% end %>

  <p class="form-buttons">
    <%= button Spree.t('update') %>
    <%= Spree.t("or") %> <%= link_to Spree.t("cancel"), admin_disqus_settings_url %>
  </p>
<% end %>

<%= render "spree/blogs/admin/shared/select_configuration_tab" unless request.xhr? %>
