<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Images"} %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @post_image } %>

<%= form_for([:admin, @post, @post_image], :url => admin_post_image_url(@post, @post_image), :html => { :multipart => true }) do |f| %>
  <fieldset>
    <p>
      <%= label_tag ("thumbnail") %>:<br/>
      <%= link_to(image_tag(@post_image.attachment.url(:mini)), @post_image.attachment.url(:product)) %>
    </p>
    <%= render :partial => 'form', :form => f %>
    <%= hidden_field_tag :post_id, @post.path, :class => 'hidden' %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
